<div class="exercise-item" data-id="<%= exercise.id %>">
    <hr>
    <h3><%= exercise.name %></h3>
    <div class="exercise-details">
        <img src="/exercise/img/<%= exercise.illustration_sequence %>.jpg" alt="<%= exercise.name %>" style="max-width: 200px; display: block; margin-bottom: 10px;">
        <p><strong>Client's Aim:</strong> <%= exercise.aim || 'To be determined.' %></p>
        <p><strong>Instructions:</strong> <%= exercise.description %></p>
        
        <label for="duration_<%= exercise.id %>">Movement/Duration **(XX)**:</label>
        <input type="number" id="duration_<%= exercise.id %>" name="exercises[<%= exercise.id %>][duration]" value="5" min="1" required class="inline-input" style="width: 80px;">
        
        <label for="reps_<%= exercise.id %>">Repetition **(YY)** Sets/Reps:</label>
        <input type="number" id="reps_<%= exercise.id %>" name="exercises[<%= exercise.id %>][reps]" value="10" min="1" required class="inline-input" style="width: 80px;">
        
        <label for="perWeek_<%= exercise.id %>">Weekly Repetition **(ZZ)** Sessions/Week:</label>
        <input type="number" id="perWeek_<%= exercise.id %>" name="exercises[<%= exercise.id %>][perWeek]" value="3" min="1" required class="inline-input" style="width: 80px;">
        
        <input type="hidden" name="exercises[<%= exercise.id %>][id]" value="<%= exercise.id %>">
        <input type="hidden" name="exercises[<%= exercise.id %>][name]" value="<%= exercise.name %>">
        <input type="hidden" name="exercises[<%= exercise.id %>][illustration_sequence]" value="<%= exercise.illustration_sequence %>">
        
        <button type="button" class="remove-exercise-btn" data-id="<%= exercise.id %>">Remove</button>
    </div>
</div>