<!DOCTYPE html>
<html>
<head>
  <title>Edit User</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
  <h1>NHS PhysioHUB</h1>
  <hr>
  <h2>Edit User: <%= patient.name %> <%= patient.surname %></h1>
  <% if (messages.success) { %><p class="success"><%= messages.success %></p><% } %>
  <form method="POST" action="/admin/edit/<%= patient.id %>">
    <input type="text" name="name" value="<%= patient.name %>" required>
    <input type="text" name="surname" value="<%= patient.surname %>" required>
    <input type="email" name="email" value="<%= patient.email %>" required>
    <textarea name="illness"><%= patient.illness %></textarea>
    <button type="submit">Update</button>
  </form>
  <br>
  <a href="/admin/dashboard">Back</a>
</body>
</html>