<h2>Ongoing Treatment</h2>
    <p>Timing: <%= treatment.timing %></p>
    <p>Progression: <%= treatment.progression %></p>
    <h3>Exercises</h3>
    <ul>
      <% exercises.forEach(ex => { %>
        <% 
            // Attempt to parse checklist (safeguard against non-JSON data)
            let params = {};
            try { params = JSON.parse(ex.checklist); } catch (e) { /* default empty */ }
        %>
        <li>
          **<%= ex.name %>**
          <br>
                    <img src="/exercises/img/<%= ex.illustration_sequence %>.jpg" alt="<%= ex.name %>" style="max-width: 150px; display: block; margin: 5px 0;">
          <p>Instructions: <%= ex.description %></p>
          
          <h4>Prescription Details:</h4>
          <p>
                **Movement/Duration:** <%= params.duration %> 
                <br>
                **Repetition/Sets:** <%= params.reps %> 
                <br>
                **Weekly Sessions:** <%= params.perWeek %> 
          </p>
        </li>
      <% }); %>
    </ul>
<% } %>