<!DOCTYPE html>
<html>
<head>
  <title>Physiotherapist Dashboard</title>
  <link rel="stylesheet" href="<%= BASE_PATH %>/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <div class="header-title">
      <img src="<%= BASE_PATH %>/exercises/img/nhs.svg" alt="NHS Logo" class="header-logo">
      <h1 class="header-title-text">PhysioHUB</h1>
    </div>
    <hr>
    <br>
  <% if (messages.success) { %><p class="success"><%= messages.success %></p><% } %>
  <form method="GET" action="<%= BASE_PATH %>/therapist/dashboard">
    <input type="text" name="search" placeholder="Search patients">
    <button type="submit">Search</button>
  </form>
  <table>
    <tr><th>Name</th><th>NHS Number</th><th>Illness</th><th>Attended</th><th>Action</th></tr>
    <% patients.forEach(p => { %>
      <tr>
        <td><%= p.name %> <%= p.surname %></td>
        <td><%= p.nhs_number %></td>
        <td><%= p.illness %></td>
        <td><%= p.attended ? 'Yes' : 'No' %></td>
        <td><a href="<%= BASE_PATH %>/therapist/patient/<%= p.id %>">View/Assign</a></td>
      </tr>
    <% }); %>
  </table>
  <br>
  <a href="<%= BASE_PATH %>/">Home</a>

</body>