<!DOCTYPE html>
<html>
    <head>
        <title><%= exercise.name %></title>
        <link rel="stylesheet" href="/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>NHS PhysioHUB</h1>
        <hr><br>
        <% const params = JSON.parse(exercise.checklist); %>

        <img src="/exercises/img/<%= exercise.illustration_sequence %>.jpg" alt="<%= exercise.name %>" style="max-width: 300px;">
        <h1><%= exercise.name %></h1>
        <br>
        <h2>Client's aim</h2>
        <p>To improve your ability to jump and land.</p>
        <br>
        <h2>Client's instructions</h2>
        <p>Position yourself standing on a block or step. Jump forward off the block onto the floor, taking off and landing with your knees bent and toes pointing forward.</p>

        <h3>Perform <%= params.reps %> sets of <%= params.duration %> reps/duration</h3>
        <h3>Do <%= params.perWeek %> sessions per week</h3>

        <div id="timer-widget">
            <h2>Duration Achieved: <span id="time-display"></span></h2>
            <button id="start-timer">Start Recording</button>
        </div>
    <script src="/js/timer.js"></script>
</body>
</html>