<!DOCTYPE html>
<html>
    <head>
        <title><%= exercise.name %></title>
        <link rel="stylesheet" href="<%= BASE_PATH %>/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>NHS PhysioHUB</h1>
        <hr><br>
        <% const params = JSON.parse(exercise.checklist); %>

        <img src="<%= BASE_PATH %>/exercises/img/<%= exercise.illustration_sequence %>.jpg" alt="<%= exercise.name %>" style="max-width: 300px;">
        <H1><%= exercise.name %></H1>
        <br>
        <h2>Client's aim</h2>
        <p>To improve your ability to step up, balance and swing the arms.</p>
        <br>
        <h2>Client's instructions</h2>
        <p>Position yourself with one foot on a block in front of you. Step forward and up, lifting your other knee to hip height and raising your opposite arm to the ceiling at the same time.</p>

        <h3>Perform <%= params.reps %> sets of <%= params.duration %> reps/duration</h3>
        <h3>Do <%= params.perWeek %> sessions per week</h3>

        <div id="timer-widget">
            <h2>Duration Achieved: <span id="time-display"></span></h2>
            <button id="start-timer">Start Recording</button>
        </div>
        <script src="<%= BASE_PATH %>/js/timer.js"></script>
    </body>
</html>